:root {
  --green: #A7FF6C;
  --green2: #002E21;
  --red: #A105Aa;
  --azul: #3856AA;
  --gray: #edf4f2;
}

* ::before, ::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monospace", "Roboto", Arial, sans-serif
}

/* nav-bar */
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 1rem 0;
  
  
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.5rem;
  
}

a {
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
li {
  display: list-item;
  /* text-align: -webkit-match-parent; */
}

.navbar-brand, .nav-link {
  color: var(--gray);
  
}

.navbar-brand {
  display: none;
}

.nav-item-active {
  background-color: var(--green);
  color: black;
}


.navbar-container {
  display: flex;
  width: auto;
  background-color: black;
  padding: 20px 15px;
  
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 1140px;
}

.navbar-nav {
  flex-direction: row;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  font-size: 1.50rem;
  
}

.navbar-nav, .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}



/* ### Estilos para el cuerpo ### */
.content__one,
.content__two {
  height: 100vh;
  border: 1px solid transparent;
}

.content__one {
  position: relative;
  background-color: #4BC1FF;
}

.content__two {
  background-color: tomato;
}

.content__one-portada,
.content__two-about-me {
  height: 50vh;
  margin-left: 11%;
  margin-right: 11%;
  
}

.content__one-portada {
 position: absolute;
 top: 50%;
 margin-top: -50px;
}

.content__two-about-me {
  margin-top: 5%;
  text-align: justify;
  font-size: 23px;
  color: white; 
}



.content__one-portada h2,
.content__one-portada h3 {
  color: black;
  margin: 0;
}

.content__one-portada h2 {
  font-size: 60px;
}
.content__one-portada h3 {
  font-size: 30px;
}

#muestrario {
  display: none;
}