<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Jean Chiclla | CV</title>
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }
        a {
         text-decoration: none;
        }
    </style>
</head>
<body class="w3-light-grey">
    
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1400px;">
    
        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-light-grey w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="../images/foto.jpg" alt="foto de perfil" style="width:100%">
                        <div class="w3-display-bottomleft w3-container w3-text-white">
                            <h2>Jean Chiclla</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        
                        <p><i class="fa fa-id-card fa-fw w3-margin-right w3-large w3-text-green"></i>72892568</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-green"></i>24 años | 15/01/96</p>
                        <p><i class="fa fa-child fa-fw w3-margin-right w3-large w3-text-green"></i>Soltero</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-green"></i>Tiabaya, AQP</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-green"></i>j-c_f@outlook.com</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-green"></i>958 560 250</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-green"></i>949 139 144</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-tight w3-text-green"></i>Habilidades</b></p>
                        <p>Actitud de servicio</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:90%">&nbsp</div>
                        </div>
								<p>Integridad</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:90%">&nbsp</div>
                        </div>
								<p>Comunicación</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:75%">&nbsp</div>
                        </div>
								<p>Trabajo en equipo</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:70%">&nbsp</div>
                        </div>
                        <p>Computación e informática</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:89%">&nbsp</div>
								</div>

								<p>Excel VBA, Programación en Java, Linux CLI</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:80%">&nbsp</div>
                        </div>
                        
                        
                        <br>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-rigth w3-text-green"></i>Idiomas</b></p>
                        <p>Inglés</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-green" style="height:24px;width:35%"></div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->

            
            <div class="w3-twothird">


                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Un poco sobre mí</h2>
                    <div class="w3-container">
                        <p>Egresado técnico de Administración de Empresas con conocimientos de Fundamentos de procesos de negocios, 
                            y Sistemas organizacionales y contables.</p>
                        <p>Con cuatro años de experiencia laboral sobre todo en áreas de atención al cliente.</p>
                        <p>Me interesa desarrollarme en el área de logística y almacenes. Otros de mis intereses son el desarrollo de software de código abierto, la electrónica y las tareas que requieren trabajo manual como la carpinteria. Mi pasatiempo es la lectura de novelas o crónicas. Ahora estoy leyendo El pez en el agua de Mario Vargas Llosa. </p> <!--Busco adquirir experiencia en diferentes áreas para poder definir qué quiero hacer los próximos 10 años. -->
								Actualmente sigo aprendiendo por cuenta propia.
                        <p>Íntegro y con actitud de servicio.</p>
                        <hr>
                    </div>
                    

                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Experiencia</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Atención al cliente</b> - Chiki & Alex - Sanguchería.</h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-rigth"></i>Marzo 2019 - Marzo 2020</h6>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Mozo por temporada</b> - Great Service Serv. Turis. El Tablon S.A.C.</h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-rigth"></i>Enero a Marzo 2018</h6>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Barista</b> - Pura Fruta Juguería – Sanguchería S.R.L.</h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-rigth"></i>Marzo a Noviembre 2017</h6>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Atención cliente</b> - 1 Break S.A.C.</h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-rigth"></i>Junio 2016 - Diciembre 2016</h6>
                        
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Ayudadante de producción</b> - 1 Break S.A.C.</h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-rigth"></i>Marzo 2014 - Marzo 2015</h6>
								<p> Mis funciones consistian en programar y apoyar con la producción, hacer el requerimiento de insumos y materiales; entre otras tareas.
                        <br>
                    </div>

                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-university fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Educación</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Cisco Networking Academy <i class="fa fa-linux fa-fw w3-margin-tight w3-text-black"></i></b></h5
                       
			<p>NDG Linux Essentials 1.0 ES cga 2020 (70h)</p>
			<h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Julio 2020 - <span class="w3-tag w3-green w3-round">Actualmente</span></h6>
                        <p>Cursos online</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Cibertec | Administración de empresas</b></h5>
                        <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015- 2018</h6>
                        <p>Egresado técnico</p>
                        <br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-green w3-center w3-margin-top">
       <a href="https://www.linkedin.com/in/jeanchiclla/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i>/jeanchiclla</a> 
		 <p>Arequipa 2020 | <a href="http://jean.net.pe" target="_blank">jean.net.pe</a></p>
    </footer>

</body>
</html>
